body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url('images/download\ -2.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    transition: .3s ease;
}

h1:hover {
    color: aquamarine;
}

h3 {
    margin-top: 25px;
    color: white;
    text-transform: uppercase;
    transition: .3s ease;
}

h3:hover {
    color: aquamarine;
}


#search {
    width: 28%;
    margin-top: 10px;
    margin-left: 275px;
    padding-left: 5px;
    flex-wrap: wrap;
    cursor: text;
    border: none;
}
.icon i {
    transition: 0.3s ease;
}

.icon {
    flex: 1;
    margin-left: 320px;
    margin-top: -145px;
    padding: auto;
    font-size: 28px;
    color: white;
    gap: 2rem;
    transition: .3s ease-in-out;
}

.icon:hover {
    color: aquamarine;
}

.input-field {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
}

input {
    flex: 1;
    min-width: 150px;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.btn {
    background: tomato;
    margin-top: 110px;
    margin-left: 200px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    min-width: 500px;
}

th,
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

th {
    background: rgba(255, 255, 255, 0.1);
}

.actions button {
    padding: 6px 10px;
    margin: 2px;
    font-size: 12px;
}

th {
    background: rgba(255, 255, 255, 0.1);
}





@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead {
    display: none;
  }

  tr {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
  }

  td {
    display: flex;
    justify-content: space-between;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
  }

  #search {
    width: 28%;
    margin-top: 10px;
    margin-left: 75px;
    padding-left: 5px;
}

.btn {
    background: tomato;
    margin-top: 110px;
    margin-left: -68px;
}
}

